<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
    <context:component-scan base-package="my"></context:component-scan>
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
    </bean>
    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="sessionFactory">
        <!--<property name="configLocations" value="classpath:hibernate.cfg.xml.x"></property>-->
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <!--<prop key="hibernate.connection.password">root</prop>-->
                <!--<prop key="connection.driver_class">com.mysql.jdbc.Driver</prop>-->
                <!--<prop key="hibernate.connection.username">root</prop>-->
                <prop key="format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--<prop key="hibernate.connection.url">jdbc:mysql:///mybase</prop>-->
            </props>
        </property>
        <property name="mappingDirectoryLocations" value="classpath:my/domain"></property>
    </bean>
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <tx:annotation-driven></tx:annotation-driven>

    <!--<tx:advice id="txs" transaction-manager="transactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="execute" propagation="REQUIRED" read-only="false" isolation="DEFAULT"/>-->
            <!--<tx:method name="login" isolation="DEFAULT" propagation="REQUIRED" read-only="false"></tx:method>-->
            <!--<tx:method name="list*" read-only="false" propagation="REQUIRED" isolation="DEFAULT"></tx:method>-->
            <!--<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"></tx:method>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--<aop:config>-->
        <!--<aop:pointcut id="pc" expression="execution(* my.service.*.*(..) )"></aop:pointcut>-->
        <!--<aop:advisor advice-ref="txs" pointcut-ref="pc"></aop:advisor>-->
    <!--</aop:config>-->

    <!--<bean class="my.webs.action.CustomerAction" name="customerAction" scope="prototype">-->
        <!--<property name="customerService" ref="customerService"></property>-->
    <!--</bean>-->
    <!--<bean class="my.service.CustomerService" name="customerService">-->
        <!--<property name="customerDao" ref="customerDao"></property>-->
    <!--</bean>-->
    <!--<bean class="my.dao.CustomerDao" name="customerDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean class="my.dao.Base_dictDao" name="base_dictDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean class="my.service.Base_dictService" name="base_dictService">-->
        <!--<property name="base_dictDao" ref="base_dictDao"></property>-->
    <!--</bean>-->
    <!--<bean class="my.webs.action.Base_dictAction" name="base_dictAction" scope="prototype">-->
        <!--<property name="base_dictService" ref="base_dictService"></property>-->
    <!--</bean>-->
    <!--<bean class="my.webs.action.LinkManAction" name="linkManAction" scope="prototype">-->
        <!--<property name="linkManService" ref="linkManService"></property>-->
    <!--</bean>-->
    <!--<bean class="my.service.LinkManService" name="linkManService">-->
        <!--<property name="linkManDao" ref="linkManDao"></property>-->
    <!--</bean>-->
    <!--<bean class="my.dao.LinkManDao" name="linkManDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean class="my.dao.UserDao" name="userDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean class="my.service.UserService" name="userService" >-->
        <!--<property name="userDao" ref="userDao"></property>-->
    <!--</bean>-->
    <!--<bean class="my.webs.action.UserAction" name="userAction" scope="prototype">-->
        <!--<property name="userService" ref="userService"></property>-->
    <!--</bean>-->
    <!--<bean class="my.dao.Sale_visitDao" name="sale_visitDao" >-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean class="my.service.Sale_visitService" name="sale_visitService">-->
        <!--<property name="sale_visitDao" ref="sale_visitDao"></property>-->
    <!--</bean>-->
    <!--<bean class="my.webs.action.Sale_visitAction" name="sale_visitAction" scope="prototype">-->
        <!--<property name="sale_visitService" ref="sale_visitService"></property>-->
    <!--</bean>-->

</beans>